/* You can add global styles to this file, and also import other style files */
@import "bootstrap/bootstrap";
@import "spinner";
@import "utils";
@import "rtl";
@import "responsive";

@media print {
    .breadcrumb {
        display: none !important;
    }
}
.status-normal {
    display: inline-block;
    width: 85px;
    text-align: center;
    background-color: limegreen;
    color: white;
    padding: 5px 10px 5px 10px;
}

.text-center {
    text-align: center;
  }
