<style>
    .table-responsive {
            background-color: white;
        }
    
        .card-block {
            padding-top: 0.875rem;
            padding-left: 0px;
            padding-right: 0px;
        }
    
        .row {
            margin-left: 0px;
            margin-right: 0px;
        }
    #filter-search .form-group input {
        border: none;
        border-bottom: 1px solid #2c3e50;
        border-radius: 0;
        font-size: 12px;
        padding: .3125rem 1.2rem;
    }
</style>
<div class="animate">
    <div class="col-md-12">
        <h2 class="text-muted">Education Board</h2>
        <div class="card">
            <div class="card-block">
                <div class="row">
                    <div class="col col-xl-12 col-lg-12">
                        <div class="form-group col-md-12 row" id="filter-search">
                            <div id="searchKeywordFilterDiv" class="form-group"><i class="fa fa-search"></i>
                                <div>
                                    <input class="form-control" id="searchText" placeholder="" type="text" name="keywords"
                                        data-toggle="tooltip" title="Press enter to search">
                                </div>
                            </div>
                            <div class="col-md-3 margin-top-25">
                                <!--<button class="btn search-button btn-primary hover" id="searchButton" (click)="doSearch();" title="Search" type="submit">Search</button>-->
                                <button class="linkButton" title="Add User" (click)="addEducationBoard(content);">
                                    <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Add</button>
                                <ng-template #content let-c="close" let-d="dismiss">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Modal title</h4>
                                        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>One fine body&hellip;</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
                                    </div>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>