<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center" style="padding-right: inherit;">
        <div _ngcontent-c1="" class="col-lg-6 text-left">
            <img class="user-avatar" src="assets/images/logo.png" width="50px" />
            <h3 style="margin-top: 5px;padding-left: 11px;">JUD</h3>
        </div>
        <div class="col-lg-6">
            <form action="#" [formGroup]="signInForm">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="form-group">
                            <input type="text" ng-model="name" class="form-control input-underline input-lg" id="email"
                                placeholder="Email" formControlName="email">
                            <control-messages [control]="signInForm.controls.email" *ngIf="showValidationMsg"></control-messages>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="form-group">
                            <input type="password" class="form-control input-underline input-lg" id="password"
                                placeholder="Password" formControlName="password">
                            <control-messages [control]="signInForm.controls.password" *ngIf="showValidationMsg"></control-messages>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <a class="btn rounded-btn" (click)="doLogin()"> Log in </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row justify-content-md-center" style="margin-top: 25px;">
        <div _ngcontent-c1="" class="col-lg-6 text-left" style="padding: 125px;">
            <h3>"Never put off <br /> till tomorrow <br />what you can do today..."</h3>
        </div>
        <div class="col-lg-6" style="border:1px solid;padding-top: 15px;">
            <form role="form widht-100">

                <div class="col-lg-12 form-group" style="border:2px solid rgba(255, 255, 255, 0.5)">
                    <h3 style="width:100%" class="text-center">Registration</h3>
                </div>
                <div class="col-lg-6 form-group">
                    <input type="text" class="form-control input-underline input-lg" id="" placeholder="First Name">
                </div>

                <div class="col-lg-6 form-group">
                    <input type="text" class="form-control input-underline input-lg" id="" placeholder="Last Name">
                </div>

                <div class="col-lg-12 form-group">
                    <input type="text" class="form-control input-underline input-lg" id="" placeholder="Email">
                </div>

                <div class="col-lg-12 form-group">
                    <input type="text" class="form-control input-underline input-lg" id="" placeholder="Mobile Number">
                </div>

                <div class="col-lg-12 form-group">
                    <input type="password" class="form-control input-underline input-lg" id="" placeholder="Password">
                </div>
                <div class="col-lg-12 form-group">
                    <input type="password" class="form-control input-underline input-lg" id="" placeholder="Repeat Password">
                </div>
                <a class="btn rounded-btn" style="margin-bottom: 15px;" [routerLink]="['/dashboard']">
                    Register </a>
            </form>
        </div>
    </div>
</div>