<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}">
    <div class="list-group">
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;
            <span>{{ 'Dashboard' | translate }}</span>
        </a>
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('pages')">
                <i class="fa fa-plus"></i>&nbsp;
                <span>Education</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'pages'">
                <ul class="submenu">
                    <li>
                        <a class="list-group-item" [routerLink]="['/educationBoard']">
                            <i class="fa fa-monument"></i>&nbsp;
                            <span>Education Board</span>
                        </a>
                    </li>
                    <li>
                        <a class="list-group-item" [routerLink]="['/university']">
                            <i class="fa fa-monument"></i>&nbsp;
                            <span>University</span>
                        </a>
                    </li>
                    <li>
                        <a class="list-group-item" [routerLink]="['/disability']">
                            <i class="fa fa-monument"></i>&nbsp;
                            <span>Disability</span>
                        </a>
                    </li>
                    <li>
                        <a class="list-group-item" [routerLink]="['/course']">
                            <i class="fa fa-monument"></i>&nbsp;
                            <span>course</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('industry')">
                <i class="fa fa-plus"></i>&nbsp;
                <span>Industry</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'industry'">
                <ul class="submenu">
                    <li>
                        <a class="list-group-item" [routerLink]="['/industry']">
                            <i class="fa fa-monument"></i>&nbsp;
                            <span>Industry Management</span>
                        </a>
                    </li>
                    <li>
                        <a class="list-group-item" [routerLink]="['/subindustry']">
                            <i class="fa fa-monument"></i>&nbsp;
                            <span>Sub Industry Management</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>
        <div class="header-fields">

            <div class="nested-menu">
                <a class="list-group-item" (click)="addExpandClass('profile')">
                    <span><i class="fa fa-user"></i>&nbsp; John Smith</span>
                </a>
                <li class="nested" [class.expand]="showMenu === 'profile'">
                    <ul class="submenu">
                        <li>
                            <a href="javascript:void(0)">
                                <span><i class="fa fa-fw fa-user"></i> {{ 'Profile' | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <span><i class="fa fa-fw fa-envelope"></i> {{ 'Inbox' | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <span><i class="fa fa-fw fa-gear"></i> {{ 'Settings' | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/login']" (click)="onLoggedout()">
                                <span><i class="fa fa-fw fa-power-off"></i> {{ 'Log Out' | translate }}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
        </div>
    </div>
    <div class="toggle-button" [ngClass]="{collapsed: collapsed}" (click)="toggleCollapsed()">
        <i class="fa fa-fw fa-angle-double-left"></i>&nbsp;
        <span>Collapse</span>
    </div>
</nav>