<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/images/logo.png" width="150px" class="user-avatar" />
            <form action="#" [formGroup]="signInForm">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" ng-model="name" class="form-control input-underline input-lg" id="email"
                            placeholder="Email" formControlName="email">
                        <control-messages [control]="signInForm.controls.email" *ngIf="showValidationMsg"></control-messages>
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg" id="password" placeholder="Password"
                            formControlName="password">
                        <control-messages [control]="signInForm.controls.password" *ngIf="showValidationMsg"></control-messages>
                    </div>
                </div>
                <a class="btn rounded-btn" (click)="doLogin()"> Log in </a>
                &nbsp;
                <a class="btn rounded-btn" [routerLink]="['/signup']">Register</a>
            </form>
        </div>
    </div>
</div>