<style>

    .table-responsive {
            background-color: white;
        }
    
        .card-block {
            padding-top: 0.875rem;
            padding-left: 0px;
            padding-right: 0px;
        }
    
        .row {
            margin-left: 0px;
            margin-right: 0px;
        }
    #filter-search .form-group input {
        border: none;
        border-bottom: 1px solid #2c3e50;
        border-radius: 0;
        font-size: 12px;
        padding: .3125rem 1.2rem;
    }
</style>
<div class="animate">
    <div class="col-md-12">
        <h2 class="text-muted">University</h2>
        <div class="card">
            <div class="card-block">
                <div class="row">
                    <div class="col col-xl-12 col-lg-12">
                        <div class="form-group col-md-12 row" id="filter-search">
                            <div id="searchKeywordFilterDiv" class="form-group"><i class="fa fa-search"></i>
                                <div>
                                    <input class="form-control" id="searchText" placeholder="" type="text" name="keywords"
                                        data-toggle="tooltip" title="Press enter to search">
                                </div>
                            </div>
                            <div class="col-md-3 margin-top-25">
                                <!--<button class="btn search-button btn-primary hover" id="searchButton" (click)="doSearch();" title="Search" type="submit">Search</button>-->
                                <a href class="linkButton" title="Add User">
                                    <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Add</a>
                            </div>
                        </div>
                        <div class="mb-12">
                            <div class="card-body table-responsive">
                                <table class="table">
                                    <thead class="header-color">
                                        <th class="text-center">Name Of University</th>
                                        <th class="text-center">Status</th>
                                        <th class="text-center">Created By</th>
                                        <th class="text-center">Updated By</th>
                                    </thead>
                                    <tbody class="body-color">
                                        <tr>
                                            <td class="text-center">
                                                University1
                                            </td>
                                            <td class="text-center">Normal</td>
                                            <td class="text-center">Hemali Dadhaniya</td>
                                            <td class="text-center">Hemali Dadhaniya</td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">
                                                University1
                                            </td>
                                            <td class="text-center">Normal</td>
                                            <td class="text-center">Hemali Dadhaniya</td>
                                            <td class="text-center">Hemali Dadhaniya</td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">
                                                University1
                                            </td>
                                            <td class="text-center">Normal</td>
                                            <td class="text-center">Hemali Dadhaniya</td>
                                            <td class="text-center">Hemali Dadhaniya</td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">
                                                University1
                                            </td>
                                            <td class="text-center">Normal</td>
                                            <td class="text-center">Hemali Dadhaniya</td>
                                            <td class="text-center">Hemali Dadhaniya</td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">
                                                University1
                                            </td>
                                            <td class="text-center">Normal</td>
                                            <td class="text-center">Hemali Dadhaniya</td>
                                            <td class="text-center">Hemali Dadhaniya</td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">
                                                University1
                                            </td>
                                            <td class="text-center">Normal</td>
                                            <td class="text-center">Hemali Dadhaniya</td>
                                            <td class="text-center">Hemali Dadhaniya</td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">
                                                University1
                                            </td>
                                            <td class="text-center">Normal</td>
                                            <td class="text-center">Hemali Dadhaniya</td>
                                            <td class="text-center">Hemali Dadhaniya</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>