<style>
    .table-responsive {
        background-color: white;
    }

    .card-block {
        padding-top: 0.875rem;
        padding-left: 0px;
        padding-right: 0px;
    }

    .row {
        margin-left: 0px;
        margin-right: 0px;
    }

    #filter-search .form-group input {
        border: none;
        border-bottom: 1px solid #2c3e50;
        border-radius: 0;
        font-size: 12px;
        padding: .3125rem 1.2rem;
    }

    .required {
        color: tomato;
    }

    .hidden {
        display: none;
    }
</style>
<div class="animate">
    <div class="col-md-12">
        <h2 class="text-muted">Sub Industry</h2>
        <div class="card">
            <div class="card-block">
                <div class="row">
                    <div class="col col-xl-12 col-lg-12">
                        <div class="form-group col-md-12 row" id="filter-search">
                            <div id="searchKeywordFilterDiv" class="form-group"><i class="fa fa-search"></i>
                                <div>
                                    <input class="form-control" id="searchText" placeholder="" type="text"
                                        name="keywords" data-toggle="tooltip" title="Press enter to search">
                                </div>
                            </div>
                            <div class="col-md-3 margin-top-25">
                                <select class="form-control" id="industryId" name="industryId">
                                    <option [value]="industry.id" *ngFor="let industry of industryList">
                                        {{industry.name}}
                                    </option>
                                </select>

                            </div>
                            <div class="col-md-3 margin-top-25">
                                <!--<button class="btn search-button btn-primary hover" id="searchButton" (click)="doSearch();" title="Search" type="submit">Search</button>-->
                                <button class="linkButton" title="Add User" (click)="addIndustry(content);">
                                    <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Add</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-xl-12 col-lg-12">
                        <div class="card mb-12">
                            <div class="card-body table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="text-center">Sr. No</th>
                                            <th class="text-center">Sub Industry Name</th>
                                            <th class="text-center">Industry Name</th>
                                            <th class="text-center">Created By</th>
                                            <th class="text-center">Updated By</th>
                                            <th class="text-center">Status</th>
                                            <th class="text-center">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let ini Of subindustryList;let i = index">
                                            <td class="text-center">{{i+1}}</td>
                                            <td class="text-center">{{ini.name}}</td>
                                            <td class="text-center">{{ini.industryName}}</td>
                                            <td class="text-center">
                                                {{ini.cnameTime}}
                                            </td>
                                            <td class="text-center">
                                                {{ini.unameTime}}
                                            </td>
                                            <td class="status-normal text-center"
                                                style="padding-top: 5px;padding-bottom: 5px;margin-top: 7px; width: 88px;"
                                                (click)="deActiveRecord(ini)">{{ini.activeStatus}}</td>
                                            <td class="text-center">
                                                <i class="" (click)="navigateEdit($event,ini,content)" type="button">
                                                    <span class="fa fa-pencil fa-lg"></span>
                                                </i>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Add Sub Industry</h4>

    </div>
    <div class="modal-body">
        <form [formGroup]="form" class="form-horizontal" id="productForm">
            <div class="modal-body">

                <div class="form-group row">
                    <label class="col-md-4 form-control-label text-xs-right">Select Industry</label>
                    <div class="col-md-7">
                        <select class="form-control" id="industryId" name="industryId" formControlName="industryId"
                            [(ngModel)]="subindustry.industryId">
                            <option [value]="industry.id" *ngFor="let industry of industryList"
                                (onChange)="onChange(industry.id)">
                                {{industry.name}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 form-control-label text-xs-right">Name
                        <span class="required"> * </span>
                    </label>
                    <div class="col-md-7">
                        <input class="form-control" type="text" id="name" name="name" formControlName="name"
                            maxlength="40" [(ngModel)]="subindustry.name">
                        <control-messages [control]="form.controls.name"></control-messages>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" (click)="saveSubIndustry()"
                    [disabled]="!form.dirty || !form.valid || saveProcess">
                    <i [ngClass]="{'fa-check': !saveProcess, 'fa-spinner': saveProcess}" class="fa"
                        aria-hidden="true"></i>
                    Save
                </button>
                <button type="button" class="btn btnColor" data-dismiss="modal" (click)="d('Cross click')">
                    Cancel
                </button>
            </div>
        </form>
    </div>
</ng-template>