.header-color {
    background-color: #7c7f80;
}
.body-color{
    background-color: #e9ecef;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 0.25rem;
}
.linkButton {
    margin: 0;
	line-height: inherit;
	border-radius: 0;
	border: none!important;
	border-radius: 6px!important;
	background: #e6e6e6!important;
	line-height: 30px;
	font-weight: 700!important;
	padding-right: 15px;
	padding-left: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
}
    
    .linkButton:hover {
        background: #ccc !important;
        color: rgba(0, 0, 0, .75) !important;
    }
    .margin-top-25{
        margin-top: 25px;
    }
